*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
.DS_Store

2020-08-28-adaptive_bayesian_neural_network_with_stochastic_volatility.ipynb